<br/>

<div class="row">
	<div class="col-md-3"> </div>
	<div class="col-md-6 col-sm-12">
		<div class="row">
			<%= button_to 'Booking List', bookings_path, method: 'get', class: "btn btn-warning pull-right mar-rht-3" %>
		</div>
		<br/>
		<div class="panel panel-primary">
		  <div class="panel-heading panel-primary">Welcome To Movie Show Booking Application</div>
		  <div class="panel-body">
		  	<%= form_for @booking ,:html => { :onsubmit => "return processForm()" } do |f| %>
				  <div class="form-group">
					  <label>Select Movie</label>
					 	<%= f.collection_select :movies_id, Movie.all, :id, :name,{}, {class: "form-control dropdown-toggle"} %>
				 	</div>
				 	<div class="form-group">
				  	<label>Select date </label>
				    <%= f.text_field :show_date, class: 'form-control', id: 'datetimepicker1',read_only: true%>
          </div>
          <div id="show_time_partials">
	          <%#= render partial: "bookings/show_time", locals: {time: Time.current} %>
          </div>
          <input type="hidden" id="h_shows" name="h_shows"/>	
          <%= f.hidden_field :seat_ids %>
				<div class="submit">	
					<%= f.submit 'Submit', class: "btn btn-success"%>
				</div>
		  </div>
		</div>
	</div>
	<div class="col-md-3"> </div>
<% end %>
</div>



<script type="text/javascript">
	Date.prototype.addDays = function(days) {
	  var dat = new Date(this.valueOf());
	  dat.setDate(dat.getDate() + days);
	  return dat;
	};
	Date.prototype.subDays = function(days) {
	  var dat = new Date(this.valueOf());
	  dat.setDate(dat.getDate() - days);
	  return dat;
	};

  $(document).ready(function () {
    $('#datetimepicker1').datetimepicker({format: 'DD/MM/YYYY',	minDate: new Date().subDays(1), maxDate: new Date().addDays(4) });
  });
  $("#datetimepicker1").on("dp.hide", function(){
  	$.ajax({
  		url: "/change_shows",
	    type: "get",
	    datatype: 'script',
	    data: {date: $(this).val()}
  	})
  });

  $("#booking_movies_id").on("change", function(){
  	$("#datetimepicker1").val('')
  	$.each($("input[name='movie[show_id][]']:checked"), function(){            
			$(this).prop('checked', false);
		});
		$.each($("input[name='show_time[seat_id][]']:checked"), function(){            
			$(this).prop('checked', false);
		});
  });

  processForm = function(){

  	var selectedShows = [];
			$.each($("input[name='movie[show_id][]']:checked"), function(){            
				selectedShows.push($(this).val());
			});

		var selectedSeats = [];
			$.each($("input[name='show_time[seat_id][]']:checked"), function(){            
				selectedSeats.push($(this).val());
			});

  	$('#h_shows').val(selectedShows);
  	$('#booking_seat_ids').val(selectedSeats);

  	if($("#datetimepicker1").val() == ""){
  		alert("Please select Date");
  		$("input[name='commit'").removeAttr("disabled");
  		return false;
  	};

  	if($("#booking_movies_id").val() == null){
  		alert("Please select Movie");
  		$("input[name='commit'").removeAttr("disabled");
  		return false;
  	};
  	if(selectedShows.length == 0){
  		alert("Please select Shows");
  		$("input[name='commit'").removeAttr("disabled");
  		return false;
  	};
  	if(selectedSeats.length == 0){
  		alert("Please select Seats");
  		$("input[name='commit'").removeAttr("disabled");
  		return false;
  	}
  	return true;
  };

</script>